@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico-Regular.eot");
  src: url("../fonts/Pacifico/Pacifico-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Pacifico/Pacifico-Regular.svg#Pacifico-Regular") format("svg");
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  src: url("../fonts/Pacifico/Pacifico-Regular.woff") format("woff");
  src: url("../fonts/Pacifico/Pacifico-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.eot");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.svg#RobotoSlab-Thin") format("svg");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.ttf") format("truetype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.woff") format("woff");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.eot");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.svg#RobotoSlab-Light") format("svg");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format("truetype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.woff") format("woff");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.eot");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.svg#RobotoSlab-Regular") format("svg");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.woff") format("woff");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.eot");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.woff") format("woff");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.eot");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.woff") format("woff");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.eot");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold") format("svg");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff") format("woff");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.eot");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight") format("svg");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf") format("truetype");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.woff") format("woff");
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

html, body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #5c5766;
}

.nav {
  margin: 0 auto;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav-list-item {
  margin: 0;
  padding: 0;
}

.nav-list-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.nav__header {
  margin: 0 auto;
  width: 70%;
  min-width: 400px;
}

.nav__header-list-item-link {
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: 1.5px;
  outline: none;
}

.nav__header-list-item-link:hover {
  color: #ffd670;
}

.nav__header-list-item-link:active {
  color: #fff0ca;
}

.header-content {
  margin: 156px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 50%;
}

.logo::before {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.logo__header {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
}

.logo__header::before {
  width: 100px;
  height: 100px;
  border: 1px solid #ffffff;
}

.logo__header-span {
  margin: 0 0 0 -5px;
  width: 37px;
  height: 25px;
  line-height: 7px;
  color: #4e4460;
  font-family: "Pacifico";
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -4px;
}

.header-text {
  margin: 65px auto 0 auto;
  padding: 0;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header-text-hello {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 35px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.header-text-my-name {
  margin: 30px auto;
  font-family: "Roboto Slab";
  font-weight: 300;
  letter-spacing: 2.64px;
  font-size: 66px;
  line-height: 30px;
}

.header-text-name {
  font-family: "Roboto Slab";
  font-weight: 700;
  letter-spacing: 2.64px;
  text-transform: capitalize;
  font-size: 66px;
}

.header-text-prof {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.88px;
}

.header-social {
  margin: 45px 0 168px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  min-width: 150px;
}

.logo__header-social {
  margin: 0 37px;
  width: 26px;
  height: 26px;
  position: relative;
}

.logo__header-social:hover .logo__header-social-link {
  fill: #ffd670;
}

.logo__header-social:active .logo__header-social-link {
  fill: #fff0ca;
}

.logo__header-social:hover::before {
  border: 2px solid #ffd670;
}

.logo__header-social:active::before {
  border: 2px solid #fff0ca;
}

.logo__header-social:first-of-type:hover::after {
  background-color: #ffd670;
}

.logo__header-social:first-of-type:active::after {
  background-color: #fff0ca;
}

.logo__header-social:last-of-type:hover::after {
  background-color: #ffd670;
}

.logo__header-social:last-of-type:active::after {
  background-color: #fff0ca;
}

.logo__header-social::before {
  width: 48px;
  height: 48px;
  border: 2px solid #c4c0cf;
}

.logo__header-social:first-of-type::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #c4c0cf;
  position: absolute;
  left: -111px;
}

.logo__header-social:last-of-type::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #c4c0cf;
  position: absolute;
  left: 38px;
}

.logo__header-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  outline: none;
  fill: #c4c0cf;
}

.header-about {
  margin: 0 auto 128px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
}

.header-about-info {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 4.32px;
  text-transform: capitalize;
}

.header-about-answer {
  color: #ffd670;
  text-transform: uppercase;
}

.about {
  margin: 0 auto;
  padding: 119px 0 0 0;
  width: 100%;
  background-color: #524664;
}

.logo__about {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background-color: #ffd670;
  position: relative;
}

.logo__about::before {
  width: 100px;
  height: 100px;
  border: 1px solid #ffd670;
}

.logo__about-img {
  position: absolute;
  top: 18px;
}

.about-txt {
  margin: 37px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-txt-title {
  font-family: "Roboto Slab";
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.about-txt-title::after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 93px;
  height: 3px;
  background-color: #736588;
}

.about-txt-desc {
  color: #d0c6db;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
}

.about-content {
  margin: 108px auto 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content-txt {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #ffffff;
}

.about-content-txt-title {
  margin: 0 0 43px 0;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.about-content-txt-subtitle {
  margin: 0 0 23px 0;
  color: #c4c0cf;
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.about-content-txt-desc {
  margin: 0;
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.72px;
}

.about-content-txt-desc:nth-last-of-type(2) {
  margin: 0 0 45px 0;
}

.about-content-txt-desc-word {
  font-family: "Roboto Slab";
  font-weight: 700;
  letter-spacing: 0.6px;
}

.about-content-circle {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content-skills {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #ffffff;
}

.about-content-skills-meter {
  margin: 0 0 14px 0;
  width: 100%;
  height: 43px;
  background-color: #615474;
}

.about-content-skills-meter__progress {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #ffd670;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-content-skills-meter__progress-percent {
  color: #4a5561;
  font-family: "Source Sans Pro";
  font-weight: 900;
  letter-spacing: 0.52px;
}

.logo__about-circle {
  width: 300px;
  height: 300px;
  background-color: #ffd670;
}

.logo__about-circle::before {
  width: 369px;
  height: 369px;
  border: 5px solid #ffd670;
}

.about-social {
  margin: 45px 0 115px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 250px;
}

.logo__about-social {
  margin: 0 52px 0 0;
  width: 26px;
  height: 26px;
  position: relative;
}

.logo__about-social:first-of-type {
  margin: 0 52px 0 13px;
}

.logo__about-social:hover .logo__about-social-link {
  fill: #ffd670;
}

.logo__about-social:active .logo__about-social-link {
  fill: #fff0ca;
}

.logo__about-social:hover::before {
  border: 2px solid #ffd670;
}

.logo__about-social:active::before {
  border: 2px solid #fff0ca;
}

.logo__about-social::before {
  width: 48px;
  height: 48px;
  border: 2px solid #c4c0cf;
}

.logo__about-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  outline: none;
  fill: #c4c0cf;
}

.portfolio {
  margin: 0 auto;
  width: 100%;
  background-color: #ffd670;
}

.portfolio::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ffd670;
}

.portfolio-txt {
  margin: 37px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-txt-title {
  font-family: "Roboto Slab";
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.portfolio-txt-title::after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 88px;
  height: 3px;
  background-color: #fff0ca;
}

.portfolio-txt-desc {
  color: #fff0ca;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
}

.portfolio-content {
  margin: 125px auto 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-content-project {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #ffffff;
}

.portfolio-content-project-category {
  margin: 0 0 30px 0;
  color: #fff1ce;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
}

.portfolio-content-project-title {
  width: 100%;
  font-family: "Roboto Slab";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.portfolio-content-project-title::first-letter {
  text-transform: lowercase;
}

.portfolio-content-project-title::after {
  content: "";
  margin: 25px 0 19px 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffe39c;
}

.portfolio-content-project-desc-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.portfolio-content-project-desc-list-site::after {
  content: "";
  margin: 25px 0 19px 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffe39c;
}

.portfolio-content-project-desc-list-item {
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  list-style-type: none;
}

.portfolio-content-project-desc-list-item::before {
  content: "";
  margin: 0 15px 0 31px;
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url(../img/list-about.png);
}

.portfolio-content-project-desc-list-item-site {
  margin: -10px 0 0 0;
  text-transform: lowercase;
}

.portfolio-content-project-desc-txt {
  margin: 24px 0 12px 0;
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.portfolio-content-project-desc-txt::after {
  content: "";
  margin: 27px 0 10px 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffe39c;
}

.portfolio-content-project-desc-txt-tags {
  margin: -20px 0 0 0;
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.portfolio-content-slider {
  width: 65%;
}

.portfolio-content-slider-wrp {
  width: 100%;
  height: 100%;
  position: relative;
}

.portfolio-content-slider-wrp-cross {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.65;
}

.portfolio-content-slider-wrp-cross::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.portfolio-content-slider-wrp-btn1-label {
  width: 63px;
  height: 78px;
  background-color: #c6a96c;
  position: absolute;
  top: 42.5%;
  left: 0;
  z-index: 1;
  border-radius: 0 20px 20px 0;
}

.portfolio-content-slider-wrp-btn1-label:hover {
  background-color: #8d8d8d;
}

.portfolio-content-slider-wrp-btn1-label:hover .portfolio-content-slider-wrp-btn1-label-span,
.portfolio-content-slider-wrp-btn1-label:hover .portfolio-content-slider-wrp-btn1-label-span::before {
  background-color: #ffd670;
}

.portfolio-content-slider-wrp-btn1-label:active {
  background-color: #373c4f;
}

.portfolio-content-slider-wrp-btn1-label-span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 49px;
  left: 6px;
}

.portfolio-content-slider-wrp-btn1-label-span::before {
  content: "";
  display: block;
  width: 34px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: -16px;
  left: -16px;
}

.portfolio-content-slider-wrp-btn1-checkbox {
  visibility: hidden;
}

.portfolio-content-slider-wrp-btn2-label {
  width: 63px;
  height: 78px;
  background-color: #c6a96c;
  position: absolute;
  top: 42.5%;
  right: 0;
  z-index: 1;
  border-radius: 20px 0 0 20px;
}

.portfolio-content-slider-wrp-btn2-label:hover {
  background-color: #8d8d8d;
}

.portfolio-content-slider-wrp-btn2-label:hover .portfolio-content-slider-wrp-btn2-label-span,
.portfolio-content-slider-wrp-btn2-label:hover .portfolio-content-slider-wrp-btn2-label-span::before {
  background-color: #ffd670;
}

.portfolio-content-slider-wrp-btn2-label:active {
  background-color: #373c4f;
}

.portfolio-content-slider-wrp-btn2-label-span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  top: 26px;
  left: 19px;
}

.portfolio-content-slider-wrp-btn2-label-span::before {
  content: "";
  display: block;
  width: 34px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: -16px;
  left: -16px;
}

.portfolio-content-slider-wrp-btn2-checkbox {
  visibility: hidden;
}

.portfolio-content-slider-wrp-item1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5c5766;
}

.portfolio-content-slider-wrp-item2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__portfolio {
  margin: 76px auto 0 auto;
  width: 50%;
  min-width: 400px;
}

.nav__portfolio-list {
  width: 100%;
}

.nav__portfolio-list-item {
  width: 23%;
}

.nav__portfolio-list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 24px;
  font-family: "Roboto Slab";
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  outline: none;
  border: 1px solid transparent;
}

.nav__portfolio-list-item-link:hover {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.nav__portfolio-list-item-link:active {
  color: #373c4f;
  border: 1px solid #373c4f;
  border-radius: 5px;
}

.portfolio-projects {
  margin: 80px auto 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-projects-project {
  width: 239px;
  height: 239px;
  background-color: #fff0ca;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 20px;
}

.portfolio-projects-project:hover {
  background-color: #524664;
}

.portfolio-projects-project-wrp {
  margin: 11px -20px 0 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50px;
  left: 24px;
}

.portfolio-projects-project-title {
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.64px;
}

.portfolio-projects-project-title::first-letter {
  text-transform: lowercase;
}

.portfolio-projects-project-desc {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.52px;
  text-align: center;
}

.portfolio-projects-project-link {
  display: block;
  width: 66px;
  height: 66px;
  background-color: #e14414;
  border-radius: 50%;
  position: relative;
}

.portfolio-projects-project-link-span {
  display: block;
  width: 24px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  left: 21px;
}

.portfolio-projects-project-link-span::after {
  content: "";
  display: block;
  width: 24px;
  height: 6px;
  background-color: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.portfolio-projects-project-link:hover {
  background-color: #898d9d;
}

.portfolio-projects-project-link:hover .portfolio-projects-project-link-span,
.portfolio-projects-project-link:hover .portfolio-projects-project-link-span::after {
  background-color: #ffd670;
}

.portfolio-projects-project-link:active {
  background-color: #e6e6e6;
}

.portfolio-projects-project-link:active .portfolio-projects-project-link-span,
.portfolio-projects-project-link:active .portfolio-projects-project-link-span::after {
  background-color: #373c4f;
}

.portfolio-projects-project3 {
  background-color: #5c5766;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.portfolio-projects-project3:hover {
  background-color: #524664;
}

.portfolio-projects2 {
  margin: 0 auto;
  padding: 0 0 145px 0;
  width: 61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */