$color5c5766: #5c5766;
$colorffffff: #ffffff;

@import '_fonts' 
    
body
    margin: 0;
    padding: 0;

.header
    width: 100%;
    background-color: $color5c5766;

.nav

    &-list
        list-style-type: none;

        &-item

            &-link
                text-decoration: none;
                text-transform: uppercase;
                color: $colorffffff;

.nav__header

    &-list

        &-item

            &-link
                font-family: "Roboto Slab";
                font-size: 15px;
                font-weight: 700;
                line-height: 89px;
                letter-spacing: 1.5px;